.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.labelExpense{
color: white;
margin-left: 20px;
font-size: 16px;
font-weight: bold;
}
.labelIncome {
    color: white;
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "+";
    height: 44px;
    width: 44px;
    top: -2px;
    background-color: #FFB627;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    color: white;
        font-size: 30px;
        line-height: 44px;
        text-align: center;
    
}
input:checked+.slider:before {
    left: calc(100% - 68px);
        content: "-";
        background-color: rgb(255, 134, 141);
}


input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.transaction-switcher{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}