@media screen and (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 40px 20px;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
    }
.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 280px;
}

.header {
    font-size: 24px;
    color: white;
    margin-bottom: 32px;
    font-weight: var(--font-weight-regular);
}
.secondContainer{
    max-width: 280px;
}
.category {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    margin-bottom: 40px;

    &>span {
        color: black;
        font-size: 0.8rem;
        font-style: italic;
    }
}
.boxDate {
    display: flex;
    flex-direction: column;
    gap: 40px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 40px;
}

.incomeInput,
.customInput {
    width: 100% ;
    background-color: transparent;
    border-style: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding: 8px;
}
.customInput {
width: 280px;
}
.incomeInput::placeholder,
.customInput::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.svgBox{
position: relative;
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
background-color: transparent;
border-style: none;
color: white;
font-size: 18px;
font-weight: bold;
&>svg{
position: absolute;
right: 10px;
top: 6px;
fill: #734AEF;
width: 24px;
height: 24px;
}
}

.comment,
.selectExpense {
    width: 280px;
    background-color: transparent;
    padding: 8px;
    border-style: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
    margin-bottom: 40px;
}

.comment::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.btnBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.activeIncome {
    color: #FFB627;
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
}

.activeExpense {
    color: rgb(255, 134, 141);
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
}
}

@media screen and (min-width: 768px) {

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    /* padding: 40px 80px; */
    /* width: 540px;
    height: 580px; */
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 40px 80px; */
    width: 100%;
    height: 100%;
    /* width: 540px;
    height: 580px; */
}
.header {
    font-size: 30px;
    color: white;
    margin-bottom: 40px;
    font-weight: var(--font-weight-regular);
}
.checkBox {
    display: flex;
    flex-direction: row;
    gap: 11px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 60px;
    cursor: pointer;
}
.secondContainer {
    max-width: 400px;
}

.category {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    margin-bottom: 40px;

    &>span {
        color: black;
        font-size: 0.8rem;
        font-style: italic;
    }
}

.boxDate {
    display: flex;
    flex-direction: row;
    gap: 30px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 40px;
}

.incomeInput,
.customInput {
    width: 185px;
    background-color: transparent;
    border-style: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding: 8px;
}

.customInput {
    width: 185px;
}

.incomeInput::placeholder,
.customInput::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.svgBox {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    border-style: none;
    color: white;
    font-size: 18px;
    font-weight: bold;

    &>svg {
        position: absolute;
        right: 10px;
        top: 6px;
        fill: #734AEF;
        width: 24px;
        height: 24px;
    }
}

.comment
 {
    width: 100%;
    background-color: transparent;
    padding: 8px;
    border-style: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
    margin-bottom: 40px;
}

.comment::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.btnBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.activeIncome {
    color: #FFB627;
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
}

.activeExpense {
    color: rgb(255, 134, 141);
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
}
}
@media screen and (min-width: 1280px) {
.container {
        display: flex;
        flex-direction: column;
        margin: auto;
        /* padding: 40px 80px; */
        /* width: 540px;
    height: 580px; */
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .formWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 40px 80px; */
        width: 100%;
        height: 100%;
        /* width: 540px;
    height: 580px; */
    }

    .header {
        font-size: 30px;
        color: white;
        margin-bottom: 40px;
        font-weight: var(--font-weight-regular);
    }

    .checkBox {
        display: flex;
        flex-direction: row;
        gap: 11px;
        color: rgba(255, 255, 255, 0.6);
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 60px;
        cursor: pointer;
    }

    .secondContainer {
        max-width: 400px;
    }

    .category {
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: relative;
        margin-bottom: 40px;

        &>span {
            color: black;
            font-size: 0.8rem;
            font-style: italic;
        }
    }

    .boxDate {
        display: flex;
        flex-direction: row;
        gap: 30px;
        cursor: pointer;
        width: 100%;
        margin-bottom: 40px;
    }

    .incomeInput,
    .customInput {
        width: 185px;
        background-color: transparent;
        border-style: none;
        color: white;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        padding: 8px;
    }

    .customInput {
        width: 185px;
    }

    .incomeInput::placeholder,
    .customInput::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }

    .svgBox {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        background-color: transparent;
        border-style: none;
        color: white;
        font-size: 18px;
        font-weight: bold;

        &>svg {
            position: absolute;
            right: 10px;
            top: 6px;
            fill: #734AEF;
            width: 24px;
            height: 24px;
        }
    }

    .comment {
        width: 100%;
        background-color: transparent;
        padding: 8px;
        border-style: none;
        color: white;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        cursor: pointer;
        margin-bottom: 40px;
    }

    .comment::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }

    .btnBox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .activeIncome {
            color: #FFB627;
            margin-right: 20px;
            font-size: 16px;
            font-weight: bold;
        }
    
        .activeExpense {
            color: rgb(255, 134, 141);
            margin-left: 20px;
            font-size: 16px;
            font-weight: bold;
        }
}
/* .checkBox {
    display: flex;
    flex-direction: row;
    gap: 11px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 60px;
    cursor: pointer;
} */

/* .boxDate {
    display: flex;
    flex-direction: row;
    gap: 32px;
    cursor: pointer;
} */

/* .incomeInput,
.customInput {
    width: 180px;
    background-color: transparent;
    border-style: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding: 8px;
}

.incomeInput::placeholder, 
.customInput::placeholder{
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
} */

/* .comment,
.selectExpense {
    width: 394px;
    background-color: transparent;
    padding: 8px;
    border-style: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.comment::placeholder {
    color: rgba(255, 255, 255, 0.6);
} */

/* .btnBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
} */

/* .activeIncome{
color:#FFB627;
}
.activeExpense {
    color: #FFB627;
} */

/* .inputContainer{
display: flex;
flex-direction: column;
gap: 8px;
position: relative;
margin-bottom: 40px;

&>span {
    color: red;
    font-size: 0.8rem;
    font-style: italic;
}
} */