.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 73px;
    max-width: 540;
}

.header {
    font-size: 30px;
    color: white;
    margin-bottom: 40px;
}

.checkBox {
    display: flex;
    flex-direction: row;
    gap: 11px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 60px;
    cursor: pointer;
}

.boxDate {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-bottom: 40px;
    cursor: pointer;
}

.incomeInput,
.customInput {
    width: 180px;
    background-color: transparent;
    border-style: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding: 8px;
}

.incomeInput::placeholder, 
.customInput::placeholder{
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.comment,
.selectExpense {
    width: 394px;
    background-color: transparent;
    padding: 8px;
    border-style: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    margin-bottom: 40px;
    cursor: pointer;
}

.comment::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.btnBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.btn {
    width: 300px;
    height: 50px;
    border-radius: 20px;
    font-size: 18px;
    color: rgb(98, 63, 139);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-style: none;
    transition: all 0.3 ease;
}

.btn:hover {
    color: white;
    background-image: linear-gradient(to right,
            rgb(255, 199, 39),
            rgb(158, 64, 186),
            rgb(112, 0, 255))
}