 @media screen and (max-width: 767px) {
 .react-select__control {
     background-color: transparent !important;
     border-style: none !important;
     border-radius: 0px !important;
     border-bottom: 1px solid rgba(255, 255, 255, 0.6) !important;
     width: 100% !important;
 }

 .react-select__menu {
     font-size: 16px;
     color: white;
     background-color: transparent !important
 }

 .react-select__single-value {
     color: white !important;
     
 }

 .react-select__indicator-separator {
     width: 0px !important;
 }

 .react-select__dropdown-indicator {
     color: rgba(255, 255, 255, 0.6) !important;
 }

 .react-select__menu-list {
     backdrop-filter: blur(100px) !important;
     background-color: #101010 !important;
     background: radial-gradient(circle at center,
             rgba(47, 21, 176, 0.73),
             #101010),
         radial-gradient(362px at bottom right, #652392, transparent),
         radial-gradient(173px at top 0px left -45px, #8e2e79, transparent),
         radial-gradient(134px at bottom 20px right 100px, #8e2e79, transparent),
         radial-gradient(173px at bottom 153px right -20px, #302e8e, transparent),
         radial-gradient(434px at top left, #652392, transparent) !important;
     background-blend-mode: exclusion !important;
 } 
}

@media screen and (min-width: 768px) {
.react-select__control {
        background-color: transparent !important;
        border-style: none !important;
        border-radius: 0px !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6) !important;
        width: 100% !important;
    }

    .react-select__menu {
        font-size: 16px;
        color: white;
        background-color: transparent !important
    }

    .react-select__single-value {
        /* color: rgba(255, 255, 255, 0.6) !important; */
        color: white !important;

    }

    .react-select__indicator-separator {
        width: 0px !important;
    }

    .react-select__dropdown-indicator {
        color: rgba(255, 255, 255, 0.6) !important;
    }

    .react-select__menu-list {
        backdrop-filter: blur(100px) !important;
        background-color: #101010 !important;
        background: radial-gradient(circle at center,
                rgba(47, 21, 176, 0.73),
                #101010),
            radial-gradient(362px at bottom right, #652392, transparent),
            radial-gradient(173px at top 0px left -45px, #8e2e79, transparent),
            radial-gradient(134px at bottom 20px right 100px, #8e2e79, transparent),
            radial-gradient(173px at bottom 153px right -20px, #302e8e, transparent),
            radial-gradient(434px at top left, #652392, transparent) !important;
        background-blend-mode: exclusion !important;
    }
.react-select__menu:focus{
    color: red;
    background-color: blue;
}
}

/* .react-select__placeholder {
  overflow: visible !important;
    width: 200px !important;
}
.css-w9q2zk-Input2:after{
width: 200px !important;
    overflow: visible !important;
}
.react-select__value-container{
  width: 280px !important;
    overflow: visible !important;
}
.react-select__input-container{
    width: 200px !important;
      overflow: visible !important;
} */
