.wrapper {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: auto;
  justify-content: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;

  @media screen and (min-width: 678px) and (max-width: 1279px) {
    width: 336px;
    height: 214px;
  }

  @media screen and (min-width: 1280px) {
    width: 480px;
    height: 380px;
  }
}

.secondwrapper {
  width: 320px;

  @media screen and (min-width: 678px) and (max-width: 1279px) {
    width: 336px;
    height: 100%;
  }

  @media screen and (min-width: 1280px) {
    width: 480px;
    height: 100%;
  }
}

.imgBox {
  width: 320px;

  @media screen and (min-width: 678px) and (max-width: 1279px) {
    width: 336px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    width: 480px;
  }
}

.table {
  width: 320px;
  margin-bottom: 10px;
  border-spacing: 0px;

  @media screen and (min-width: 678px) and (max-width: 1279px) {
    width: 336px;
    height: 116px;
  }

  @media screen and (min-width: 1280px) {
    width: 480px;
    width: 176px;
  }
}

.head {
  width: 320px;

  @media screen and (min-width: 678px) and (max-width: 1279px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 480px;
  }
}

.tableBody {
  width: 320px;

  @media screen and (min-width: 678px) and (max-width: 1279px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 480px;
  }
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 320px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 0px;

  @media screen and (min-width: 678px) and (max-width: 1279px) {
    width: 336px;
    height: 48px;
  }

  @media screen and (min-width: 1280px) {
    width: 480px;
    height: 56px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 320px;
  height: 24px;
  margin-top: 8px;
  margin-bottom: 2px;

  @media screen and (min-width: 678px) and (max-width: 1279px) {
    width: 336px;
    margin-top: 12px;
  }

  @media screen and (min-width: 1280px) {
    width: 480px;
    margin-top: 24px;
  }
}

.titleItem {
  width: 33%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 16px;
}

.rowItem {
  width: 33%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 16px;
}

.vector {
  fill: black;
  stroke: black;
}

.image {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .image {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .image {
    margin-top: 60px;
    position: relative;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.secondimage {
  position: relative;
  margin-top: -28%;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .secondimage {
    margin-top: -40%;
  }
}

.smallnumeur {
  color: rgb(255, 134, 141);
  font-weight: 400;
  font-size: 12px;
  position: absolute;
  top: 58%;
  left: 43%;
  transform: translate(500%, -350%);
}

.smallnumusd {
  color: rgb(255, 134, 141);
  font-weight: 400;
  font-size: 12px;
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-790%, -130%);
}
