.transactions_section {
    background-color: black;
    background-image: url(../../img/images/gradient_mob@1x.webp);
    background-size: cover;
    position: relative;
    width: 100%;
    display: flex;
    padding: 32px 20px 0 20px;
}

@media(min-width: 768px) {
    .transactions_section {
        background-image: url(../../img/images/gradient_tab@1x.webp);
        position: relative;
        padding: 46px 16px 0 69px;
        display: block;
    }
}


@media(max-width: 767px) {
    .transactions_container {
        width: 280px;
    }
}

.transactions_container {
    margin: 0 auto;

}

.transactions_table {
    width: 100%;
    text-align: left;
    color: rgb(251, 251, 251);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    height: 312px;
}

.transactions_list {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.transaction_row_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 16px 10px 16px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(100px);
    background: rgba(82, 59, 126, 0.6);
    text-align: left;
    gap: 33px;
}

th {
    width: 16.66%;
}

.btn_add {
    position: fixed;
    width: 44px;
    height: 44px;
    right: 20px;
    bottom: 20px;
    box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
    background: linear-gradient(166.82deg, rgb(255, 199, 39) -125.559%, rgb(158, 64, 186) 181.695%, rgb(112, 0, 255) 327.061%);
    border: transparent;
    border-radius: 50%;
}
