.transactions_section {
  /* background-color: black; */
  /* background-image: url(../../img/images/gradient_mob@1x.webp); */
  /* background-size: cover; */
  /* position: relative; */
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* padding: 32px 20px 0 20px; */
  /* height: 100%;
  min-height: calc(100vh - 208px); */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: var(--white-color);
}

@media screen and (min-resolution: 192dpi),
  screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 2dppx) {
  .transactions_section {
    /* background-image: url(../../img/images/gradient_mob@2x.webp); */
  }
}

@media (min-width: 768px) {
  .transactions_section {
    /* background-image: url(../../img/images/gradient_tab@1x.webp); */

    /* padding: 20px 32px 0 32px; */
    display: block;
    max-width: 704px;
    /* max-height: 600px; */
    /* min-height: calc(100vh - 294px); */
  }

  .transactions_container {
    /* max-height: calc(100vh - 414px); */
    max-height: 550px;

    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(158, 64, 186) rgba(82, 59, 126, 0.6);
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  /* @media screen and (min-resolution: 192dpi),
    screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx) {
    .transactions_section {
      background-image: url(../../img/images/gradient_tab@2x.webp);
    }
  }*/
}

@media (min-width: 1280px) {
  .transactions_section {
    /* width: 100%; */
    padding: 57px 0;
    min-height: calc(100vh - 80px);
    /* border-left: 1px solid rgb(251, 251, 251, 0.6); */
    /* background-image: url(../../img/images/home_desk@1x.webp); */
  }

  /* @media screen and (min-resolution: 192dpi),
    screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx) {
    .transactions_section {
      background-image: url(../../img/images/home_desk@2x.webp);
    }
  } */

  .transactions_container {
    max-height: calc(100vh - 250px);
  }
}

@media (max-width: 767px) {
  .transactions_container {
    width: 280px;
  }
}

.transactions_container {
  position: relative;
  margin: 0 auto;
}

.transactions_table {
  width: 100%;
  text-align: left;
  font-size: var(--primarily-font-size);
  line-height: var(--primarily-line-height);
}

.transactions_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.transaction_row_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: 16px 10px 16px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  background: rgba(82, 59, 126);
  text-align: left;
  gap: 33px;
}

.transactions_table thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.transactions_table th {
  width: 16.66%;
}

.table_body tr:last-child {
  border-bottom: none;
}

.btn_add {
  position: fixed;
  width: 44px;
  height: 44px;
  right: 20px;
  bottom: 20px;
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    166.82deg,
    rgb(255, 199, 39) -125.559%,
    rgb(158, 64, 186) 181.695%,
    rgb(112, 0, 255) 327.061%
  );
  border: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_plus {
  width: 20px;
  height: 20px;
  stroke: white;
}

.empty_transactions {
  text-align: center;
  font-size: 36px;
}
