.chartWrapper {
  position: relative;
  @media (min-width: 768px) {
    padding: 20px 0 0 0;
  }
}

.doughnut {
  width: 280px;
@media (min-width: 768px) {
  width: 336px;
}
}

.periodText {
  position: absolute;
  bottom: 134px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  @media (min-width: 768px) {
    bottom: 50%;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 1280px) {
}
