.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap {
  display: flex;
}

.button {
  background-color: transparent;
  border: none;
}
