.selectContainers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.select {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  min-height: 50px;
  color: var(--white-color);
  font-weight: var(--font-weight-regular);
  font-size: var(--primarily-font-size);
  background: rgba(74, 86, 226, 0.1);
}

.option {
  font-weight: var(--font-weight-regular);
  font-size: var(--primarily-font-size);
  color: var(--white-color);
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    360deg,
    rgba(83, 61, 186, 0.7) 0%,
    rgba(80, 48, 154, 0.7) 35.94%,
    rgba(106, 70, 165, 0.7) 61.04%,
    rgba(133, 93, 175, 0.7) 100%
  );
  cursor: pointer;
}

.option:active {
  color: #ff868d;
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .select {
    width: 280px;
  }
}

@media (min-width: 768px) {
  .selectContainers {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .select {
    width: 180px;
  }
}

@media (min-width: 1280px) {
}
