/* StatisticsDashboard.module.css */
.selectContainers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reactSelect {
  width: 100%;
}

@media (max-width: 768px) {
  .select {
    width: 280px;
  }
}

@media (min-width: 768px) {
  .selectContainers {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .select {
    width: 180px;
  }
}
