.navLinkContainer {
  padding: 12px 0 12px 0;
  @media screen and (max-width: 767px) {
    top: 60px;
  }
}

.navLinkWrapper {
  display: flex;
  justify-content: center;
  column-gap: 32px;
}

.navLinkTitle {
  display: flex;
  align-items: center;
  line-height: 1.5;
}

.navLinkTitle {
  color: var(--white-color);
  font-size: var(--secondary-font-size);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: rgba(175, 175, 175, 0.515);
}

.active {
  fill: rgba(114, 75, 239, 1);
  z-index: 1;
  border-radius: 8px;

  font-size: var(--secondary-font-size);
  font-weight: 700;
}

.navLinkIconBg {
  width: 38px;
  height: 38px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background-color: transparent;
  box-shadow: 0px 3px 10px 0px rgba(74, 86, 226, 0.5);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 18px;
    height: 18px;

    border-radius: 4px;
  }
}

.active .navLinkIconBg {
  background-color: #fff;
}

.navLinkIcon {
  transform: scale(1.25);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: inherit;
}

.navLinkIcon:hover,
.navLinkIcon:focus {
  fill: #ffffff;
}
.active .navLinkIcon:hover,
.active .navLinkIcon:focus {
  fill: rgba(114, 75, 239, 1);
}

@media screen and (min-width: 768px) {
  .navLinkWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    column-gap: 32px;
    row-gap: 15px;
  }

  .navLinkTitle {
    display: flex;
    align-items: center;
    line-height: 1.5;
    column-gap: 20px;

    color: var(--white, #fbfbfb);

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
  }
}

@media screen and (min-width: 1280px) {
  .navLinkContainer {
    margin-bottom: 28px;
    padding-left: 16px;
  }
}
