.tableParagraphContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  @media screen and (max-width: 768) {
    align-items: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    min-height: calc(100vh - 100px);
    width: 336px;
    gap: 0;
  }
  @media screen and (min-width: 1280px) {
    min-height: 480px;
    width: 395px;
    gap: 0;
  }
}

.tableContainer {
  width: 320px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  height: 320px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    max-height: calc(100vh - 414px);
    overflow-y: auto;
    scrollbar-width: thin;
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 395px;
    max-height: calc(100vh - 214px);
  }
}

.table {
  border-collapse: collapse;
  width: 280px;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1280px) {
    width: 395px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 336px;
  }
}

.tableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  height: 56px;
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background: rgba(82, 59, 126, 0.6);
  font-weight: 600;
  font-size: 16px;
  color: #fbfbfb;
  padding: 16px;
}

.tableCellBox {
  color: #fbfbfb;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  margin-right: 16px;
}
.tableCell {
  font-size: 14px;
  color: #fbfbfb;
  width: 104px;
  @media screen and (min-width: 768px) {
    width: 132px;
  }
}
.tableHeadCell {
  width: 124px;
  text-align: left;
  @media screen and (min-width: 768px) {
    width: 152px;
  }
}
.tableHeadCellRight {
  width: 124px;
  text-align: right;
  @media screen and (min-width: 768px) {
    width: 152px;
  }
}
.tableCellRight {
  font-size: 14px;
  color: #fbfbfb;
  width: 104px;
  text-align: right;
  @media screen and (min-width: 768px) {
    width: 132px;
  }
}
.tableRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 16px;
  border-bottom: 1px solid rgba(82, 59, 126, 0.6);
}

.paragraphContainer {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  @media screen and (min-width: 1280px) {
    width: 395px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 336px;
  }
}

.paragraph {
  font-weight: 600;
  font-size: 14px;
  color: #fbfbfb;
  display: flex;
  justify-content: space-between;
}
.income {
  color: rgb(255, 182, 39);
}
.expense {
  color: rgb(255, 134, 141);
}

