.tableParagraphContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (max-width: 678) {
    align-items: center;
  }
    @media screen and (min-width: 768px) and (max-width:1279px) {
      overflow-y: auto;
    }
}
.table {
  border-collapse: collapse;
  width: 280px;
  display: flex;
  flex-direction: column;
  @media screen and  (min-width: 1280px) {
    width: 395px;
  }
  @media screen and (min-width: 768px) and (max-width:1279px) {
      width: 336px;
     }
}

.tableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  height: 56px;
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background: rgba(82, 59, 126, 0.6);
  font-weight: 600;
  font-size: 16px;
  color: #fbfbfb;
  padding: 16px;
}

.tableCellBox{
    color: #fbfbfb;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    margin-right: 16px;
}
.tableCell {
  font-size: 14px;
  color: #fbfbfb;
  width: 104px;
    @media screen and (min-width: 768px) {
      width: 132px;
    }
}
.tableHeadCell{
  width: 124px;
  text-align: left;
    @media screen and (min-width: 768px) {
        width: 152px;
      }
}
.tableHeadCellRight{
  width: 124px;
  text-align: right;
    @media screen and (min-width: 768px) {
        width: 152px;
      }
}
.tableCellRight{
  font-size: 14px;
  color: #fbfbfb;
  width: 104px;
  text-align: right;
    @media screen and (min-width: 768px) {
        width: 132px;
      }
}
.tableRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 16px;
  border-bottom: 1px solid rgba(82, 59, 126, 0.6);
}

.paragraphContainer {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  @media screen and  (min-width: 1280px) {
    width: 395px;
  }
  @media screen and (min-width: 768px) and (max-width:1279px) {
      width: 336px;
     }
}

.paragraph {
  font-weight: 600;
  font-size: 14px;
  color: #fbfbfb;
  display: flex;
  justify-content: space-between;
}
.income{
  color: rgb(255, 182, 39);
}
.expense{
  color: rgb(255, 134, 141);
}
@media screen and (min-width: 768px) and (max-width:1279) {
  .tableContainer {
    min-width: 336px;
    overflow-y: auto;
  }
}

@media screen and (min-width: 1280px) {
  .tableContainer {
    min-width: 395px;
  }
}

.expense {
  color: #ff868d;
}

.income {
  color: #ffb627;
}
