@import './main.css';

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('ttf'),
    url('../fonts/Poppins/Poppins-Bold.ttf') format('ttf'),
    url('../fonts/Poppins/Poppins-SemiBold.ttf') format('ttf');
}

:root {
  --font-family: 'Poppins';
  --primarily-font-size: 16px;
  --secondary-font-size: 18px;
  --primarily-line-height: 24px;
  --secondary-line-height: 21px;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 800;
  --black-color: #242424;
  --white-color: #fbfbfb;
}

body {
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight-regular);
  background-color: #101010;

  @media screen and (min-width: 768px) {
    overflow: hidden;
  }
}
.modal-open {
  overflow: hidden;
}
.modalButtonColor {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  border: transparent;
  border-radius: 20px;
  width: 280px;
  height: 50px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    167deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );

  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.modalButton {
  display: block;

  margin-right: auto;
  margin-left: auto;
  border: transparent;
  border-radius: 20px;
  width: 280px;
  height: 50px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;

  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #623f8b;
}

@media screen and (min-width: 768px) {
  .modalButtonColor {
    width: 300px;
  }

  .modalButton {
    width: 300px;
  }
}
