.modalWrapper {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    position: relative;
    background-image: url("../../img/images/gradient_tab@1x.webp");
    padding: 20px;
    overflow: hidden;
    max-width: 1000px;
    border-radius: 5px;
}

.closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}