.wrapper {
  /* background-color: rgba(82, 59, 126, 0.6); */
  background-image: linear-gradient(rgba(82, 59, 126, 1), rgba(82, 59, 126, 1)),
    linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  /* height: 80px; */
  border-radius: 8px;
  /* width: 100%; */
  padding: 8px 32px;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .wrapper {
    min-width: 336px;
margin: 0;
    /* margin-left: 32px;
    margin-right: 32px;
    margin-top: 28px;
    margin-bottom: 20px; */
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    min-width: 480px;
    /* width: 100%; */
    /* margin-left: 0px;
    margin-right: 0px;
    margin-top: 28px;
    margin-bottom: 32px; */
    border-radius: 0px;
  }
}

.title {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
}

.text {
  font-weight: 700;
  font-size: 30px;
  height: 1.5;
  color: rgba(255, 255, 255, 1);
}
