.wrapper {
  height: 80px;
  border-radius: 8px;
  padding: 8px 40px 11px;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  z-index: 3;
  background-image: linear-gradient(rgba(82, 59, 126, 1), rgba(82, 59, 126, 1)),
    linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    width: 336px;
    margin: 0;
  }
  @media screen and (min-width: 1280px) {
    width: 480px;
    border-radius: 0px;
    padding: 8px 56px 11px;
  }
}

.title {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
}

.text {
  font-weight: 700;
  font-size: 30px;
  height: 1.5;
  color: rgba(255, 255, 255, 1);
}
